@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "reset";
@import "themes/orange";

body{
    color:var(--primary-color);
    font:var(--font-m);
}


.app{
    min-height: 100vh;
    background: var(--bg-color);

}

.content-page{
    display: flex;

}

