.button{
    cursor: pointer;
    color:var(--primary-color);
    padding: 6px 15px;

    &:hover{
        opacity: 0.7;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}   

.clear,
.clearInverted{
    padding: 0;
    border: none;
    background: none;
    outline:none;
}

.clearInverted{
    color:var(--inverted-secondary-color)
}
.outline{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);


}
.background{
    color: var(--primary-color);
    background:var(--bg-color);
    border:none

}
.backgroundInverted{
    color: var(--inverted-primary-color);
    background:var(--inverted-bg-color);
    border:none

}
font:var(--font-l)

.squared{
    padding: 0;
}

.size_m{
    font: var(--font-m);
}
.size_l{    
    font: var(--font-l);
}
.size_xl{
    font: var(--font-xl);
}

.squared.size_m{
    width: var(--font-line-m);
    height:var(--font-line-m);
   
}
.squared.size_l{
    width: var(--font-line-l);
    height:var(--font-line-l);
   
}
.squared.size_xl{
    width: var(--font-line-xl);
    height:var(--font-line-xl);
    
}
.disabled{
    opacity: 0.5;
}
.confirmRed{
    color: var(--error-color);
}
.confirmGreen{
    color: var(--confirm-color);

}