.app_dark_theme{
    --bg-color: #08088d ;
    --inverted-bg-color: #d4d4d6 ;
    --primary-color: #0eca0e;
    --secondary-color:#0cde0c;
    --inverted-primary-color: #d767eb;
    --inverted-secondary-color: #18175c;

}