:root{
    --bg-color: #d4d4d6 ;
    --inverted-bg-color: #08088d ;
    --primary-color: #1250ec;
    --secondary-color:#830b98;
    --inverted-primary-color: #0a774a;;
    --inverted-secondary-color: #0cde0c;


    //skeleton color
    --skeleton-color:#ffffff;
    --skeleton-shadow:rgba(0 0 0 / 20%);

}