:root{
    --bg-color: #d4d4d6 ;
    --inverted-bg-color: #08088d ;
    --primary-color: #1250ec;
    --secondary-color:#830b98;
    --inverted-primary-color: #0a774a;;
    --inverted-secondary-color: #0cde0c;

}