name: linting,testing,building
run-name: ${{ github.actor }} is learning GitHub Actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pipeline:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{matrix.node-version}}

    - name: Install dependencies
      run: npm install --legacy-peer-deps

    - name: Build Project in production mode
      run: npm run build:prod
    
    - name: Run unit testing
      run: npm run unit

   

      if: ${{ always() }}
    - name: Run ss tests
      run: npm run test:ui:ci

